/* Estilos generales */

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #DAD2FF;
  color: #333;
}


/*esta es la barra de navegación*/

.barra-nav {
  background-color: #493D9E;
  /* morado profundo */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;

}

nav {
  display: grid;
  grid-template-columns: 1.5fr 4fr 0.5fr;
  gap: 10px;
}

.nav-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.nav-menu a {
  text-decoration: none;
  color: inherit;
}

.nav-menu a:hover {
  text-decoration: none;
}

.menu-boton {
  border: none;
  max-width: 20%;
  padding: 8px 12px;
  border-radius: 18px;
  background-color: #493D9E;
  /* morado */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-boton:hover {
  background-color: #FFF2AF;
  /* amarillo pastel */
  color: #493D9E;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.menu-boton:active {
  background-color: #493D9E;
  color: #FFF2AF;
}

.nav-buscador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background: #FFF2AF;
  padding: 5px 10px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%;
  max-height: 80%;
}

.nav-buscador input {
  border: none;
  font-size: 16px;
  background: transparent;
  color: #493D9E;
  max-width: 60%;
  max-height: 60%;
}

.nav-buscador button {
  background: none;
  border: none;
  color: #493D9E;
  /* morado */
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

.nav-buscador button:hover {
  background: #B2A5FF;
  /* amarillo pastel */
}

/*aquí termina la barra de navegación*/


/*css de la calculadora*/

.contenedor {
  background-color: rgb(193, 181, 252);
  border-radius: 20px;
  margin: 150px;
  /* centrado */
  padding: 50px;
  /* espacio interno */
  text-align: center;
  /* centra el contenido */
}

.titulo h1 {
  font-size: 40px;
  font-weight: 600;
  color: #493D9E;
}

p {
  font-size: 25px;
  font-weight: 400;
}

button {
  margin: 15px;
  padding: 16px;
  border-radius: 6px;
  background-color: rgb(137, 106, 250);
  color: white;
}

.shadow {
  transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.shadow:hover {
  transform: translateY(-10px);
  /* Mueve la tarjeta hacia arriba */
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  /* Sombra más grande */
}

#btnBorrar {
  background-color: rgb(73, 61, 158);
}

/*Aquí termina el css de la calculadora*/


/*Este es el footer*/

footer {
  background-color: #493D9E;
  color: #FFF2AF;
  display: flex;
  justify-content: center;
  padding: 35px 0px;
  font-size: 20px;
  font-weight: 700;
}

/*aquí termina el footer*/